.body{
margin: 0;
padding: 0;
background: rgb(212, 238, 212);
font-family: "Raleway",sans-serif;



}
.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pclass1{
    font-family: monospace;
    margin-left:380px;
    margin-right:20px;
    margin-bottom:20px;
}
.pclass2{
    font-size: large;
    font-family: monospace;
    margin-left:380px;
    margin-right:20px;
    margin-bottom:20px;
}
.imagen2{
    margin-left:380px;
    margin-right:20px;
    margin-bottom:20px;
}
.align{
   
      
        margin-left:380px;
        margin-right:20px;
        margin-bottom:20px;
     }
     .navbarnavbar-default{
        background-color: rgb(220, 236, 231);
       border: 1cm;

     }
     .h3{
      font-size: larger; 
      font-family: fantasy;

     }
     .container{
       border: 1px black; 
       font-family: sans-serif;

    }
    .h1registrate{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
    }
.h1conocenos{
    font-family: monospace;
}
.pconocenos{
    font-family: monospace;
}